.pupi_sl-login-buttons-container {
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
    align-items: center;
}

.pupi_sl-login-button {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    width: 15rem;
    padding: .4rem;
    border: 2px solid #cacaca;
    border-radius: 1.4rem;
}

.pupi_sl-login-button-image {
    display: flex;
    align-items: center;
}

.pupi_sl-login-button-image img {
    width: 1.5rem;
    height: 1.5rem;
}

.pupi_sl-login-button-text {
    font-size: .85rem;
    font-weight: bold;
    text-transform: initial;
}
